<div class="row">

  <div class="col-md-6 text-main">
    <h1>Add a New Store</h1>
    <h3>Add a Brand:</h3>
    <form action="/brands" method="post">
      <label for="brand_name">Brand:</label>
      <input type="text" name="brand_name" id="brand_name">
      <button class="btn" type="submit">Add Brand</button>
    </form>
  </div>

  <div class="col-md-6 text-main">
    <h1>Add Store Here:</h1>
    <form action="/stores" method="post">
      <label for="store_name">Store Name:</label>
      <input type="text" name="store_name" id="store_name">

      <br><br>

      <label for="brands">Choose Brands:</label>

      <% if @brands.any?() %>
        <% @brands.each() do |brand| %>
        <div class="checkbox">
          <label>
          <input type="checkbox" name="brand_ids[]" value="<%= brand.id()%>"><%= brand.name()%>
          </label>
        </div>
        <% end %>
      <%else%>
        <p>Please add a brand.</p>
      <% end %>

      <!-- <h3>Add a Brand</h3>
        <form id="add_brands" action="/stores/<%= @store.id() %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <input name="form_id" type="hidden" value="add_brands">
        <% if @brands.any?() %>
          <% @brands.each() do |brand| %>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="brand_ids[]" value="<%= brand.id() %>"><%= brand.name() %>
              </label>
            </div>
          <% end %>
        <% else %>
          <p>Please add a brand to the database</p>
        <% end %>
        <button type="submit">Add Brand</button>
      </form> -->

      <h3>Remove a Brand</h3>
      <form id="remove_Brands" action="/stores/<%= @store.id() %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <input type="hidden" name="form_id" value="remove_brands">
        <% if @store.brands().any?() %>
          <% @store.brands().each() do |brand| %>
            <div class="checkbox">
            <label>
            <input type="checkbox" name="brand_ids[]" value="<%= brand.id()%>"><%= brand.name()%>
             </label>
            </div>
          <% end %>
        <%else%>
          <p>There are no brands to remove.</p>
        <% end %>
        <button type="submit">Remove Brands</button>
      </form>

      <button type="submit">Create Store</button>
    </form>
  </div>

</div>
